@{
  Layout = "_Layout";
}

<div class="text-center">
    <h1>Welcome to Pierre's Treats!</h1>
    <p>See all our treats grouped by flavor.</p>
</div>
<br>
<div id="home-image" class="text-center">
    <img src='~/img/treats.jpg' class="rounded mx-auto" alt="two bento boxes" style="max-width: 400px;">
</div>
